.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: white;
  text-align: center;
  border-style: ridge;
  border-color: dodgerblue;
  border-width: 5px;
  border-radius: 30px;
  width: 350px;
  height: 275px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  margin-top: 25px;
  margin-bottom: 25px;
}

.info {
  margin-bottom: 15px;
}

.username {
  border-style: ridge;
  border-color: dodgerblue;
  border-width: 3px;
}

.password {
  border-style: ridge;
  border-color: dodgerblue;
  border-width: 3px;
}

.Button_Image {
  border-radius: 10px;
  width: 42px;
  height: 21px;
  position: relative;
}

.button_border {
  border-color: dodgerblue;
  border-width: 3px;
  border-radius: 20px;
  width: 62px;
  height: 42px;
  position: relative;
}

.button {
  margin-top: 30px;
  position: relative;
  left: 95px;
}

.Login_Image {
  width: 164px;
  height: 46px;
  position: relative;
}

.Password_Image {
  width: 106.25px;
  height: 26.875px;
  position: relative;
}

.UserName_Image {
  width: 106.25px;
  height: 27.25px;
  position: relative;
}